.TodoTemplate {
  width: 450px;
  /* margin: 6rem auto 0; */
  border-radius: 4px;
  overflow-x: auto;
  transition: .1s;
  border: 1px solid black;
}
.TodoTemplate .app-title {
  background-color: lightsteelblue;
  color: white;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.TodoTemplate .content {
  background-color: white;
}